.keyboard_key,
.keyboard_key_active,
.keyboard_key_pressed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.1s ease-out;
  text-align: center;
  min-width: 4.5em;
  min-height: 4.5em;
  margin: 0.125rem;
}

.keyboard_key {
  background-color: var(--button-background);
  border: 1px solid rgb(var(--button-border));
}

.keyboard_key_pressed {
  transition: all 0.1s ease-out;
  transform: scale(0.94);
  background-color: rgb(var(--button-background-pressed)) !important;
  border: 1px solid rgb(var(--button-border-pressed)) !important;
  color: rgb(var(--foreground-light)) !important;
}

.keyboard_key_active {
  background-color: rgb(var(--button-background-active));
  color: rgb(var(--foreground-dark));
}

.nullKey {
  opacity: 0;
}

.heading {
  color: #565656;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.clusters {
  display: grid;
  grid-column-start: 7;
  grid-column-end: span 3;
}

.clusterleft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.clusterright {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 9;
  gap: 0.25rem;
}

.keytransition {
  transition: 0.2s ease-out;
}
