.keyboard_key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--button-background);
  border: 1px solid;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}

.keyboard_key:active {
  transform: scale(0.96);
}

.keyboard_key_pressed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--button-background-pressed));
  border: 1px solid;
  border-radius: 5px;
  transition: all 0.1s ease-out;
}
