.keyboard_key,
.keyboard_key_active,
.keyboard_key_pressed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.1s ease-out;
  text-align: center;
  min-height: 4vw;
  margin: 0.125rem;
}

.keyboard_key {
  background-color: rgb(var(--button-background));
}

.keyboard_key_pressed {
  transition: all 0.1s ease-out;
  transform: scale(0.94);
  background-color: rgb(var(--button-background-pressed)) !important;
  color: rgb(var(--textContrast)) !important;
}

.keyboard_key_active {
  background-color: rgb(var(--button-background-active));
  color: rgb(var(--foreground-dark));
}

.nullKey {
  opacity: 0;
}

.heading {
  color: rgb(var(--textMed));
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.clusters {
  display: grid;
  grid-column-start: 7;
  grid-column-end: span 3;
}

.clusterleft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.25rem;
}

.clusterright {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 9;
  gap: 0.25rem;
}

.radiobutton {
  display: flex;
  width: 120px;
  height: 26px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: rgb(var(--radioButtonSurface));
  transition: all 0.1s ease-out;
}

.radiobutton:hover {
  background: rgb(var(--radioButtonSurfaceHover));
}

.radiobutton:active {
  background: rgb(var(--radioButtonSurface));
  transform: scale(0.96);
}

.radiobuttonActive {
  background: rgb(var(--background));
  border: 1px rgb(var(--radioButtonBorder)) solid;
  cursor: not-allowed;
}

.radiobuttonActive:hover {
  background: rgb(var(--radioButtonActiveSurfaceHover));
}

.wideKeyL {
  border: none;
  grid-column-start: 1;
  grid-column-end: 3;
}

.wideKeyR {
  border: none;
  grid-column-start: 2;
  grid-column-end: 4;
}

.span2 {
  grid-column: span 2;
}

.span2row {
  grid-row: span 2;
}

.span3 {
  grid-column: span 3;
}

.space {
  grid-column: span 9;
}
