@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.empty {
  opacity: 0;
}

:root {
  --button-border: 223, 223, 223;
  --button-background: 255, 255, 255;

  --button-background-pressed: 87, 87, 87;
  --button-border-pressed: 62, 62, 62;

  --button-background-active: 232, 232, 232;
  --button-border-active: 62, 62, 62;

  --background: 255, 255, 255;

  --foreground-light: 255, 255, 255;
  --foreground-dark: 93, 93, 93;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 11pt;
  background: (var(--background));
}
